<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="description" content="{{page.description | strip_newlines}}">
    <meta name="keywords" content="{{page.keywords | join:','}}">
    <link rel="canonical" href="{{ page.canonical_url }}">
    <link href="/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
    <link rel="stylesheet" href="/styles/bootstrap.min.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/styles/bootswatch.css" type="text/css" media="screen, projection">
    <link href="/styles/main.css" rel="stylesheet" type="text/css">

    {% for stylesheet in page.stylesheets %}
    <link href="{{stylesheet}}" rel="stylesheet" type="text/css">
    {% endfor %}

    <title>{{ page.title }}</title>
  </head>
  <body>
    <div class="container">
      <header>
        <div class="row">
          <div class="span8">
            <h1><img src="logo.png" /></h1>
          </div>
        </div>
        <div class="subnav">
          <ul class="nav nav-pills">
            <li><a href="/">トップページ</a></li>
            <li><a href="/illust.html">イラスト</a></li>
            <li><a href="/use_case.html">活用事例</a></li>
            <li><a href="/about.html">ライセンスについて</a></li>
          </ul>
        </div>
        </header>
      <section>
        {{content}}
      </section>

      <hr />
      <footer>
        <p>some error</p>
      </footer>
    </div>
  </body>
</html>
